body {
    margin: 0 auto;
    text-align: center;
}
.dt-results, .lt-results {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.results > div {
    padding: 10px;
    width: 200px;
    border-right: 1px dotted black;
}

h3 {
    margin: 10px;
}
.submit-btn {
    margin: 20px; 
}

